{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
<div class="container">
    <div class="card card-body" style="border: 1px solid black;">
        <h2>This is a Machine Learning based WebApp.</h2>
        <br>
        <h2>Diseases that can be diagnosed using this app are given below</h2>
        <ul>
            <li>Diabetes</li>
            <li>Breast Cancer</li>
            <li>Heart Disease</li>
            <li>Kidney Disease</li>
            <li>Liver Disease</li>
        </ul>
        <div class="card card-body" class="row">
            <div margin: 5px;">
                <h4>Why is this app used</h4>
                <ul>
                    <li>Diseases are quite common now a days but when people neglect these disease it will lead to severe health problems.</li>
                    <li>Predicting the disease correctly ensures that a person can take medicines at the right time and can save the their lives.</li>
                    <li>One can test himself right away from his/her home.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card card-body" class="row">
            <div margin: 5px;">
                <h4>Where is this app used</h4>
                <ul>
                    <li>This project would be used in the medical field.A machine learning based web application will be created.</li>
                    <li>This is used for predicting whether a person is suffering with a disease or not based on the symptoms given in the app.</li>
                </ul>
            </div>
        </div>
        {% endblock %}