<head>
  <style>
  .r {
    display: flex;
  }
  
  .c {
    flex: 20%;
    padding: 5px;
}

</style>
</head>

{% extends 'main.html' %}
{% block content %}
{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}

<div>
<h1 style="text-align:center">Select The Type Of Disease Below</h1>
    <br>
    <div class="r">
        <div class="c">
          <a class="nav-link" href="{{ url_for('heartPage') }}"><img src="{{ url_for('static', filename='heart.jpg') }}" alt="Heart" width="220" height="220"></a>	
        </div>
        <div class="c">
          <a class="nav-link" href="{{ url_for('kidneyPage') }}"><img src="{{ url_for('static', filename='kidney.jpg') }}" alt="Kidney" width="220" height="220"></a>
        </div>
        <div class="c">
          <a class="nav-link" href="{{ url_for('cancerPage') }}"><img src="{{ url_for('static', filename='breast cancer.jpg') }}"  alt="Breast Cancer" width="220" height="220"></a>
        </div>
        <div class="c">
          <a class="nav-link" href="{{ url_for('diabetesPage') }}"><img src="{{ url_for('static', filename='diabetes.png') }}" alt="Diabetes" width="220" height="220"></a>
        </div>
        <div class="c">
          <a class="nav-link" href="{{ url_for('liverPage') }}"><img src="{{ url_for('static', filename='liver.jpg') }}" alt="Liver" width="220" height="220"></a>
        </div>
</div>
</div>


<div>
    <h2>Diseases that can be diagnosed using this app are given below</h2>
    <ul>
        <li>Diabetes</li>
        <li>Breast Cancer</li>
        <li>Heart Disease</li>
        <li>Kidney Disease</li>
        <li>Liver Disease</li>
    </ul>
    <div>
        <div>
            <h4>Why is this app used</h4>
            <ul>
                <li>Diseases are quite common now a days but when people neglect these disease it will lead to severe health problems.</li>
                <li>Predicting the disease correctly ensures that a person can take medicines at the right time and can save the their lives.</li>
                <li>One can test himself right away from his/her home.</li>
            </ul>
        </div>
    </div>
    <br>
    <div>
        <div>
            <h4>Where is this app used</h4>
            <ul>
                <li>This project would be used in the medical field.A machine learning based web application will be created.</li>
                <li>This is used for predicting whether a person is suffering with a disease or not based on the symptoms given in the app.</li>
            </ul>
        </div>
    {% endblock %}
